/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7; }

.heading-tertiary {
  font-weight: 700;
  text-transform: uppercase; }

.header-secondary {
  font-family: "roboto", sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  margin-top: 10rem;
  text-align: center; }

.no-decoration {
  list-style: none;
  text-decoration: none; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
.navigation {
  width: 100%;
  height: 6rem;
  background: var(--main-orange-color); }
  @media only screen and (max-width: 56.25em) {
    .navigation {
      height: 0; } }
  .navigation__inner {
    width: 70%;
    height: 100%;
    margin: 0 auto; }
  .navigation__list {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Sylfaen", sans-serif; }
    @media only screen and (max-width: 56.25em) {
      .navigation__list {
        height: 33rem;
        z-index: 999999;
        background: #fff;
        display: block;
        position: absolute;
        border-top: 1px solid var(--main-dark-color);
        top: 16.5rem;
        left: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
        display: none; } }
    .navigation__list li {
      font-size: 2.5rem;
      color: var(--main-white-color);
      cursor: pointer;
      position: relative; }
      @media only screen and (max-width: 56.25em) {
        .navigation__list li {
          color: var(--main-dark-color);
          border-bottom: 1px solid var(--main-dark-color);
          margin: 0 auto;
          width: 13rem;
          font-size: 3rem;
          padding: 1rem; } }
      .navigation__list li::before {
        content: "";
        position: absolute;
        top: 90%;
        left: 0;
        width: 0;
        height: 2px;
        background: var(--main-white-color);
        transition: width .1s ease; }
      .navigation__list li:hover::before {
        width: 100%; }

.display-me {
  display: block; }

.footer {
  padding: 5rem 2rem;
  display: flex;
  justify-content: space-around; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      text-align: center; } }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 3rem 0;
      flex-direction: column;
      justify-content: none; } }
  @media only screen and (max-width: 56.25em) {
    .footer__logo-big {
      order: 0;
      margin-bottom: .5rem; } }
  @media only screen and (max-width: 25em) {
    .footer__logo-big img {
      width: 30rem; } }
  .footer__header {
    font-family: "roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase; }
    @media only screen and (max-width: 56.25em) {
      .footer__header {
        display: none; } }
  @media only screen and (max-width: 56.25em) {
    .footer__povezave {
      display: none; } }
  .footer__povezave ul {
    font-size: 15px; }
    .footer__povezave ul li {
      color: var(--main-dark-color); }
  .footer__kontakt {
    margin: 0 .3rem;
    font-size: 15px; }
    .footer__kontakt-number {
      margin-bottom: 1rem; }
    .footer__kontakt p {
      line-height: 1.1; }
    @media only screen and (max-width: 56.25em) {
      .footer__kontakt {
        order: 1;
        margin-bottom: .5rem; } }
  .footer__social {
    text-align: center; }
    .footer__social-image {
      display: inline-block;
      height: 30px;
      width: 30px;
      margin: 0 1rem; }
      @media only screen and (max-width: 56.25em) {
        .footer__social-image {
          height: 35px;
          width: 35px; } }
    @media only screen and (max-width: 56.25em) {
      .footer__social {
        order: 2; } }
  .footer__legal {
    font-size: 13px;
    text-decoration: underline; }

.wrapper {
  width: 90%;
  margin: 0 auto; }
  @media only screen and (max-width: 56.25em) {
    .wrapper {
      width: 100%;
      margin: none; } }

.info-top {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .info-top {
      display: block;
      height: 17rem; } }
  .info-top__language-selection {
    display: flex;
    font-size: 1.2rem;
    cursor: pointer; }
    .info-top__language-selection li:first-child {
      color: var(--main-dark-color); }
    .info-top__language-selection li:last-child {
      margin-left: 2rem;
      color: var(--nav-blue-color); }
    @media only screen and (max-width: 56.25em) {
      .info-top__language-selection {
        display: none; } }
  @media only screen and (max-width: 56.25em) {
    .info-top__logo-big img {
      transform: translateX(-3%);
      height: 10rem; } }
  @media only screen and (max-width: 25em) {
    .info-top__logo-big img {
      height: 7rem; } }
  .info-top__call {
    width: 100%;
    font-size: 1.5rem;
    color: var(--main-black-color);
    position: relative; }
    @media only screen and (max-width: 75em) {
      .info-top__call {
        display: block;
        width: 90%;
        transform: translateX(3%); } }
    .info-top__call li:first-child {
      margin-right: 1.5rem;
      align-self: center; }
    .info-top__call li:first-child::before {
      content: "";
      position: absolute;
      top: 10%;
      left: -1rem;
      height: 80%;
      width: 2px;
      background: var(--main-dark-color); }
      @media only screen and (max-width: 75em) {
        .info-top__call li:first-child::before {
          content: ""; } }

.jedi__hero__header {
  font-family: "Sylfaen", sans-serif;
  display: block;
  width: 100%;
  height: 59rem;
  background: var(--main-dark-color);
  position: relative; }
  .jedi__hero__header img {
    opacity: .7;
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .jedi__hero__header-text {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    font-weight: 300;
    color: var(--main-white-color); }
    .jedi__hero__header-text::before {
      content: "";
      position: absolute;
      top: 2.5rem;
      left: -75%;
      height: 3px;
      width: 250%;
      background: var(--main-white-color); }
    .jedi__hero__header-text::after {
      content: "";
      position: absolute;
      bottom: 2.5rem;
      left: -75%;
      height: 3px;
      width: 250%;
      background: var(--main-white-color); }

.predstavitev__box {
  display: flex;
  padding-bottom: 10rem; }
  .predstavitev__box--orange {
    background: linear-gradient(#E17E24, #F9AB63);
    padding: 0;
    margin-bottom: 10rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15); }
  .predstavitev__box-img {
    display: block;
    height: 450px;
    width: 800px;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3); }
    .predstavitev__box-img img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center; }
  .predstavitev__box-leva--reverse {
    order: 1; }
  .predstavitev__box-desna {
    display: flex;
    position: relative; }
  .predstavitev__box-header {
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    position: absolute;
    padding: 0 2rem;
    top: 25%;
    left: 0; }
    .predstavitev__box-header--white {
      color: var(--main-white-color);
      top: 20%;
      left: 92%; }
    .predstavitev__box-header span {
      display: flex;
      flex-direction: column;
      align-self: center; }
  .predstavitev__box-text {
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    margin: auto;
    padding: 2rem;
    width: 70%;
    position: relative; }
    .predstavitev__box-text--white {
      color: var(--main-white-color); }
      .predstavitev__box-text--white::before {
        background: var(--main-white-color) !important; }
      .predstavitev__box-text--white::after {
        background: var(--main-white-color) !important; }
    .predstavitev__box-text::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background: var(--main-dark-color); }
    .predstavitev__box-text::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background: var(--main-dark-color); }

.hero {
  position: relative;
  text-align: center;
  line-height: 110px; }
  .hero__image {
    height: calc(100vh - 16rem); }
    @media only screen and (max-width: 62.5em) {
      .hero__image {
        height: 80vh; } }
    .hero__image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center; }
  .hero__header {
    width: 100%;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10rem;
    color: var(--main-white-color);
    font-family: "Sylfaen", sans-serif;
    font-weight: 300;
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4); }
    @media only screen and (max-width: 62.5em) {
      .hero__header {
        font-size: 7rem;
        line-height: 1; } }
    .hero__header::before {
      content: "";
      position: absolute;
      top: -1.5rem;
      right: 50%;
      transform: translateX(50%);
      width: 30%;
      height: 5px;
      background: var(--main-white-color); }
    .hero__header::after {
      content: "";
      position: absolute;
      bottom: -1.5rem;
      left: 50%;
      width: 30%;
      transform: translateX(-50%);
      height: 5px;
      background: var(--main-white-color); }
    .hero__header--new-line {
      display: block; }
    .hero__header--orange {
      color: var(--main-orange-color); }

:root {
  --nav-blue-color: #7898FF;
  --main-dark-color: #000000;
  --main-orange-color: #E17E24;
  --main-white-color: #FFFFFF;
  --form-red-color: #FF0000; }

.presentation {
  display: grid;
  grid-template-columns: 1fr 1.3fr 1fr;
  grid-template-rows: repeat(3, 22vw) 23vw;
  margin-top: 1rem;
  gap: 1rem; }
  @media only screen and (max-width: 62.5em) {
    .presentation {
      display: flex;
      flex-direction: column; } }
  .presentation__img-wrap {
    overflow: hidden;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
    background: var(--main-dark-color);
    position: relative; }
    @media only screen and (max-width: 62.5em) {
      .presentation__img-wrap {
        height: 50rem;
        margin-bottom: 1.5rem; } }
    .presentation__img-wrap--1 h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 100;
      transform: translate(-50%, -50%);
      width: 100%;
      color: var(--main-white-color);
      font-size: 7.5rem;
      font-weight: 300;
      font-family: "Sylfaen", sans-serif;
      display: inline-block;
      text-align: center; }
      @media only screen and (max-width: 62.5em) {
        .presentation__img-wrap--1 h2 {
          text-decoration: underline; } }
    .presentation__img-wrap--1 h2::before {
      content: "";
      position: absolute;
      top: 1.5rem;
      left: 0;
      opacity: .95;
      background: var(--main-white-color);
      width: 100%;
      height: 3px; }
      @media only screen and (max-width: 62.5em) {
        .presentation__img-wrap--1 h2::before {
          content: none; } }
    .presentation__img-wrap--1 h2::after {
      content: "";
      position: absolute;
      bottom: 1rem;
      left: 0;
      opacity: .95;
      background: var(--main-white-color);
      width: 100%;
      height: 3px; }
      @media only screen and (max-width: 62.5em) {
        .presentation__img-wrap--1 h2::after {
          content: none; } }
    .presentation__img-wrap--2 h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 100;
      transform: translate(-50%, -50%);
      width: 100%;
      color: var(--main-white-color);
      font-size: 7.5rem;
      font-weight: 300;
      font-family: "Sylfaen", sans-serif;
      display: inline-block;
      text-align: center; }
      @media only screen and (max-width: 62.5em) {
        .presentation__img-wrap--2 h2 {
          text-decoration: underline; } }
    .presentation__img-wrap--2 h2::before {
      content: "";
      position: absolute;
      top: 1.5rem;
      left: 0;
      opacity: .95;
      background: var(--main-white-color);
      width: 100%;
      height: 3px; }
      @media only screen and (max-width: 62.5em) {
        .presentation__img-wrap--2 h2::before {
          content: none; } }
    .presentation__img-wrap--2 h2::after {
      content: "";
      position: absolute;
      bottom: 1rem;
      left: 0;
      opacity: .95;
      background: var(--main-white-color);
      width: 100%;
      height: 3px; }
      @media only screen and (max-width: 62.5em) {
        .presentation__img-wrap--2 h2::after {
          content: none; } }
    .presentation__img-wrap--3 h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 100;
      transform: translate(-50%, -50%);
      width: 100%;
      color: var(--main-white-color);
      font-size: 7.5rem;
      font-weight: 300;
      font-family: "Sylfaen", sans-serif;
      display: inline-block;
      text-align: center; }
      @media only screen and (max-width: 62.5em) {
        .presentation__img-wrap--3 h2 {
          text-decoration: underline; } }
    .presentation__img-wrap--3 h2::before {
      content: "";
      position: absolute;
      top: 1.5rem;
      left: 0;
      opacity: .95;
      background: var(--main-white-color);
      width: 100%;
      height: 3px; }
      @media only screen and (max-width: 62.5em) {
        .presentation__img-wrap--3 h2::before {
          content: none; } }
    .presentation__img-wrap--3 h2::after {
      content: "";
      position: absolute;
      bottom: 1rem;
      left: 0;
      opacity: .95;
      background: var(--main-white-color);
      width: 100%;
      height: 3px; }
      @media only screen and (max-width: 62.5em) {
        .presentation__img-wrap--3 h2::after {
          content: none; } }
    .presentation__img-wrap--4 h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 100;
      transform: translate(-50%, -50%);
      width: 100%;
      color: var(--main-white-color);
      font-size: 7.5rem;
      font-weight: 300;
      font-family: "Sylfaen", sans-serif;
      display: inline-block;
      text-align: center; }
      @media only screen and (max-width: 62.5em) {
        .presentation__img-wrap--4 h2 {
          text-decoration: underline; } }
    .presentation__img-wrap--5 {
      grid-row: 3 / span 2;
      grid-column: 1 / 2; }
      .presentation__img-wrap--5 h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 100;
        transform: translate(-50%, -50%);
        width: 100%;
        color: var(--main-white-color);
        font-size: 7.5rem;
        font-weight: 300;
        font-family: "Sylfaen", sans-serif;
        display: inline-block;
        text-align: center; }
        @media only screen and (max-width: 62.5em) {
          .presentation__img-wrap--5 h2 {
            text-decoration: underline; } }
      .presentation__img-wrap--5 h2 {
        display: flex;
        flex-direction: column;
        width: 5rem !important;
        line-height: 0.9;
        font-size: 6.5rem;
        width: 100%; }
        @media only screen and (max-width: 87.5em) {
          .presentation__img-wrap--5 h2 {
            font-size: 5.5rem !important; } }
        @media only screen and (max-width: 62.5em) {
          .presentation__img-wrap--5 h2 {
            display: block;
            width: 100% !important;
            font-size: 7.5rem !important;
            flex-direction: row; } }
        .presentation__img-wrap--5 h2 span {
          align-self: center;
          justify-self: center; }
    .presentation__img-wrap--6 {
      grid-row: 2 / span 2;
      grid-column: 2 / 3; }
      .presentation__img-wrap--6 h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 100;
        transform: translate(-50%, -50%);
        width: 100%;
        color: var(--main-white-color);
        font-size: 7.5rem;
        font-weight: 300;
        font-family: "Sylfaen", sans-serif;
        display: inline-block;
        text-align: center; }
        @media only screen and (max-width: 62.5em) {
          .presentation__img-wrap--6 h2 {
            text-decoration: underline; } }
    .presentation__img-wrap--7 {
      grid-row: 2 / span 2;
      grid-column: 3 / -1; }
      .presentation__img-wrap--7 h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 100;
        transform: translate(-50%, -50%);
        width: 100%;
        color: var(--main-white-color);
        font-size: 7.5rem;
        font-weight: 300;
        font-family: "Sylfaen", sans-serif;
        display: inline-block;
        text-align: center; }
        @media only screen and (max-width: 62.5em) {
          .presentation__img-wrap--7 h2 {
            text-decoration: underline; } }
      .presentation__img-wrap--7 h2 {
        display: flex;
        flex-direction: column;
        width: 5rem !important;
        line-height: 1.2;
        font-size: 6.5rem;
        width: 100%; }
        @media only screen and (max-width: 87.5em) {
          .presentation__img-wrap--7 h2 {
            font-size: 5.5rem !important; } }
        @media only screen and (max-width: 62.5em) {
          .presentation__img-wrap--7 h2 {
            display: block;
            width: 100% !important;
            font-size: 7.5rem !important;
            flex-direction: row; } }
        .presentation__img-wrap--7 h2 span {
          align-self: center;
          justify-self: center; }
    .presentation__img-wrap--8 {
      grid-column: 2 / -1; }
      .presentation__img-wrap--8 h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 100;
        transform: translate(-50%, -50%);
        width: 100%;
        color: var(--main-white-color);
        font-size: 7.5rem;
        font-weight: 300;
        font-family: "Sylfaen", sans-serif;
        display: inline-block;
        text-align: center; }
        @media only screen and (max-width: 62.5em) {
          .presentation__img-wrap--8 h2 {
            text-decoration: underline; } }
  .presentation__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    opacity: .8;
    transition: all .2s ease-out; }
    .presentation__img:hover {
      opacity: .7;
      transform: scale(1.015); }

.horizontal-effect {
  position: absolute;
  object-position: center;
  top: 52%;
  left: 50%;
  width: 25vw;
  transform: translate(-50%, -50%);
  z-index: 10; }
  .horizontal-effect--center {
    top: 51%; }
  .horizontal-effect--wide {
    width: 43vw; }
    @media only screen and (max-width: 87.5em) {
      .horizontal-effect--wide {
        width: 55vw !important; } }
  @media only screen and (max-width: 87.5em) {
    .horizontal-effect {
      width: 28vw; } }
  @media only screen and (max-width: 75em) {
    .horizontal-effect {
      display: none; } }

.vertical-effect {
  position: absolute;
  object-position: center;
  top: 50%;
  left: 50%;
  height: 85%;
  transform: translate(-50%, -50%);
  z-index: 10; }
  @media only screen and (max-width: 75em) {
    .vertical-effect {
      display: none; } }

.burger-menu {
  display: none; }
  @media only screen and (max-width: 56.25em) {
    .burger-menu {
      display: block;
      position: absolute;
      top: 5rem;
      right: 5rem;
      width: 5rem;
      height: 5rem;
      border: 1px solid var(--main-dark-color);
      border-radius: 50%; } }
  .burger-menu__middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1px;
    width: 75%;
    background: var(--main-dark-color);
    transition: all .2s ease; }
    .burger-menu__middle::before {
      position: absolute;
      top: -.75rem;
      content: "";
      height: 1px;
      width: 100%;
      background: var(--main-dark-color);
      transition: all .3s ease-out; }
    .burger-menu__middle::after {
      position: absolute;
      top: .75rem;
      content: "";
      height: 1px;
      width: 100%;
      background: var(--main-dark-color);
      transition: all .3s ease-out; }

.burger__menu--open .burger-menu__middle {
  background-color: transparent; }

.burger__menu--open .burger-menu__middle::before {
  transform: rotate(-135deg);
  top: 0; }

.burger__menu--open .burger-menu__middle::after {
  transform: rotate(135deg);
  top: 0; }

.predstavitev {
  padding: 30rem 5rem 5rem 0; }
