.bar__pijace {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10rem;

    @include respond(phone) {
        padding: 0 2rem;
    }

    @include respond(small-phone) {
        padding: 0;
    }



}

.bar__pijaca {
    width: 32rem;
    margin: 3rem 5rem;

    @include respond(small-desktop) {
        margin: 3rem auto;
    }

    @include respond(tab-port) {
        margin: 3rem auto;
        width: 45%
    }

    @include respond(phone) {
        width: 100%;
    }

    &:hover &-alkohol {
        display: block;
    }

    &:hover &-img {
        filter: brightness(50%);
    }

    &-header {
        font-size: 50px;
        font-weight: 600;
        font-family: "Sylfaen", sans-serif;
        color: var(--main-orange-color);
        text-align: center;

        @include respond(phone) {
            font-size: 45px;
        }

        @include respond(small-phone) {
            font-size: 35px;
        }
    }

    &-text {
        margin: 1rem auto;
        font-size: 20px;
        width: 85%;
        font-family: "roboto", sans-serif;
        text-align: center;

        @include respond(small-phone) {
            font-size: 15px;
        }
    }

    &-img {
        margin-top: 1rem;
        width: 100%;
        min-width: 27rem;
        height: 50rem;
        border-radius: 25px;
        object-fit: cover;
        object-position: center;

        @include respond(phone) {
            border-radius: 0;
        }

        &-wrapper {
            position: relative;
        }
    }

    &-alkohol {
        display: none;
        position: absolute;
        font-family: "Sylfaen",
            sans-serif;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 5rem;
        text-align: center;
        color: var(--main-white-color);
        font-weight: 200;
        line-height: 1;
        align-self: center;
        transition: all .5s;

        &::before {
            content: "";
            height: 1px;
            width: 100%;
            background: var(--main-white-color);
            position: absolute;
            left: 0;
            top: -5%;
        }

        &::after {
            content: "";
            height: 1px;
            width: 100%;
            background: var(--main-white-color);
            position: absolute;
            left: 0;
            bottom: -5%;
        }
    }
}