.bar__parallax1 {
    margin-top: 20rem;
    width: 100%;
    height: 35rem;
    background: url('../img/hero-mid.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    @include phoneParallax;

    @include respond(tab-landplus) {
        background: url('../img/hero-small.jpg') no-repeat center;
        background-size: cover;
        background-attachment: fixed;
    }
}

.bar__parallax2 {
    width: 100%;
    height: 35rem;
    background: url('../img/bar/bar-banner-middle.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    @include phoneParallax;

    @include respond(tab-landplus) {
        background: url('../img/bar/bar-banner-small.jpg') no-repeat center;
        background-size: cover;
        background-attachment: fixed;
    }
}

.bar__parallax3 {
    width: 100%;
    height: 35rem;
    background: url('../img/bar/bar-in-strezba-mid.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    @include phoneParallax;

    @include respond(tab-landplus) {
        background: url('../img/bar/bar-in-strezba-small.jpg') no-repeat center;
        background-size: cover;
        background-attachment: fixed;
    }
}