.predstavitev__box {
    display: flex;
    padding-bottom: 10rem;

    @include respond(tab-land) {
        flex-direction: column;
        padding-bottom: 1rem;
        margin-bottom: 5rem;

    }

    &--orange {
        background: linear-gradient(#E17E24, #F9AB63);
        padding: 0;
        margin-bottom: 10rem;
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, .15);

        @include respond(tab-land) {
            padding-bottom: 2rem;
            margin-bottom: 5rem;
        }
    }

    &-img {
        display: block;
        height: 450px;
        width: 800px;
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, .3);

        @include respond(small-desktop) {
            height: 350px;
            width: 650px;
        }

        @include respond(tab-land) {
            height: 350px;
            width: 500px;
            margin: 0 auto;
            margin-bottom: 10rem;
        }

        @include respond(phone) {
            height: 250px;
            width: 100%;
        }

        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &-leva {
        &--reverse {
            order: 1;
        }

        @include respond(tab-land) {
            order: 0;
        }
    }

    &-desna {
        display: flex;
        position: relative;

    }

    &-header {
        font-size: 50px;
        font-weight: 700;
        line-height: 1;
        position: absolute;
        text-align: center;
        padding: 0 2rem;
        top: 25%;
        left: 0;

        @include respond(medium-desktop) {
            left: -4rem;
            font-size: 40px;
            padding: 0 1rem;
            margin-right: 1rem;
            top: 12.5%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        @include respond(small-desktop) {
            padding: 0 .5rem;
            margin-right: 0 .5rem;
        }

        @include respond(tab-land) {
            top: -5rem;
            width: 100%;
        }

        &--white {
            color: var(--main-white-color);
            top: 20%;
            left: 92%;


            @include respond(medium-desktop) {
                top: 15%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            @include respond(tab-land) {
                top: -5rem;
            }
        }

        & span {
            display: flex;
            flex-direction: column;
            align-self: center;

            @include respond(medium-desktop) {
                display: inline-block;
            }

        }
    }

    &-text {
        font-weight: 300;
        font-size: 30px;
        text-align: center;
        margin: auto;
        padding: 2rem;
        width: 70%;
        position: relative;

        @include respond(medium-desktop) {
            padding: 1rem;
            width: 90%;
            font-size: 25px;
        }

        @include respond(small-desktop) {
            font-size: 20px;
        }

        @include respond(tab-land) {
            width: 45%;
        }

        @include respond(phone) {
            width: 90%;
        }

        &--white {
            color: var(--main-white-color);

            &::before {
                background: var(--main-white-color) !important;
            }

            &::after {
                background: var(--main-white-color) !important;
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 1px;
            width: 100%;
            background: var(--main-dark-color);
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
            width: 100%;
            background: var(--main-dark-color);
        }
    }
}