.meni {
    padding: 5rem 3rem;
    margin: 2rem 15rem;
    border: 1px solid var(--main-dark-color);

    @include respond(tab-landplus) {
        margin: 2rem 10rem;
        padding: 5rem 1rem;
    }

    @include respond(phone) {
        margin: 2rem 0;
    }

    &__logo {
        text-align: center;

        & img {
            @include respond(small-phone) {
                width: 35rem;
            }
        }
    }
}