.dogodki__sobe {
    padding: 10rem 0;
    text-align: center;


    &-text {
        font-size: 3rem;
        font-weight: 600;
        font-family: inherit;
        display: inline-block;
        position: absolute;
        width: 100%;
        top: 10%;
        left: 50%;
        color: var(--main-white-color);
        transform: translate(-50%, -50%);
        transition: all .2s ease;
        z-index: 10;

        &::before {
            content: "";
            height: 3px;
            width: 50%;
            background: var(--main-white-color);
            position: absolute;
            top: -5%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &::after {
            content: "";
            height: 3px;
            width: 35%;
            background: var(--main-white-color);
            position: absolute;
            bottom: -10%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &-list {
        font-size: 1.7rem;
        font-family: inherit;
        font-weight: 300;
        position: absolute;
        z-index: 10;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--main-white-color);
        transition: all .2s ease;

        & li {
            padding: 2.5rem 0;
            border-bottom: 1px solid var(--main-white-color);
        }
    }

    &-img {
        display: inline-block;
        margin: 2rem 2rem;
        position: relative;
        background: var(--main-dark-color);
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, .25);
        transition: all .2s ease;

        @include respond(tab-port) {
            width: 75% !important;
        }

        &-hide {
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.2s,
                visibility 0.2s;

            @include respond(small-desktop) {
                visibility: visible;
                opacity: 1;
            }
        }

        &:hover &-hide {
            visibility: visible;
            opacity: 1;
            transition: opacity 0.2s,
                visibility 0.2s;
        }

        &:hover img {
            transform: scale(1.01);
            filter: brightness(55%);
        }

        & img {
            width: 35rem;
            height: 75rem;
            object-fit: cover;
            transition: all .2s ease;

            &:not(:last-child) {
                object-position: right;
            }

            @include respond(small-desktop) {
                filter: brightness(55%);
            }

            @include respond(tab-port) {
                width: 100% !important;
            }


            @include respond(phone) {
                width: 100%;
            }
        }
    }

}