.horizontal-effect {
    position: absolute;
    object-position: center;
    top: 52%;
    left: 50%;
    width: 25vw;
    transform: translate(-50%, -50%);
    z-index: 10;

    &--center {
        top: 51%;
    }

    &--wide {
        width: 43vw;

        @include respond(small-desktop) {
            width: 55vw !important;
        }
    }

    @include respond(small-desktop) {
        width: 28vw;
    }

    @include respond(tab-land) {
        display: none;
    }
}


.vertical-effect {
    position: absolute;
    object-position: center;
    top: 50%;
    left: 50%;
    height: 85%;
    transform: translate(-50%, -50%);
    z-index: 10;

    @include respond(tab-land) {
        display: none;
    }
}