 //default fonts
 body {
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
     /*font-size: 16px;*/
     line-height: 1.7;
 }

 //default headings
 .heading-tertiary {
     font-weight: 700;
     text-transform: uppercase;
 }

 .header-secondary {
     font-family: "roboto", sans-serif;
     font-size: 50px;
     text-transform: uppercase;
     margin-top: 10rem;
     text-align: center;
 }

 .no-decoration {
     list-style: none;
     text-decoration: none;
 }