 //default fonts
 body {
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
     /*font-size: 16px;*/
     line-height: 1.7;
 }

 //default headings
 .header-tertiary {
     font-weight: 700;
     text-transform: uppercase;
     text-align: center;
     font-size: 35px;
     margin-bottom: 4rem;
 }

 a {
     text-decoration: none;
 }

 .header-secondary {
     font-family: "roboto", sans-serif;
     font-size: 50px;
     text-transform: uppercase;
     margin-top: 10rem;
     text-align: center;

     @include respond(tab-landplus) {
         font-size: 35px;
     }

     @include respond(phone) {
         font-size: 30px;
     }
 }

 .no-decoration {
     list-style: none;
     text-decoration: none;
 }