.dogodki {
    padding: 5rem 5rem;

    &__parallax__img {
        margin-top: 25rem;
        background: url('../../img/dogodki/parallax-big.jpg') no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        height: 50rem;

        &-wrapper {
            width: 100%;
            height: 50rem;
        }
    }
}